[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
holidays = "*"
xgboost = "*"
pandas = "*"
scikit-learn = "*"
google-cloud-pubsub = "*"
google-cloud-storage = "*"
functions-framework = "*"

[dev-packages]
pytest = "*"
pytest-dotenv = "*"
black = "*"
pylint = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
